@model Models.ProductReview



<div>
    <h4>ProductReview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ASIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ASIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Overall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Overall)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnixReviewTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnixReviewTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewTime)
        </dd>
    </dl>
</div>
